
.video__icon_play{
    position: absolute;
    top: 16px;
    left: 16px;
    width: 41px;
    height: 41px;
}


@media screen and (min-width: 1024px){
    .video__icon_play{
        position: absolute;
        top: 30px;
        left: 30px;
        right: 385px;
        width: 41px;
        height: 41px;
    }
}

@media screen and (min-width: 1280px){
    .video__icon_play{
        right: 512px;
        bottom: 352px;
    }
}