.lead__subtitle{
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    min-width: 288px;
    min-height: 48px;
    padding-bottom: 32px;
}

@media screen and (min-width: 768px){
    .lead__subtitle{
        font-size: 30px;
        line-height: 36px;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 1024px){

    .lead__subtitle{
        padding-left: 48px;
        padding-right: 48px;
        padding-bottom: 65px;
    }
}

@media screen and (min-width: 1280px){

    .lead__subtitle{
        padding-bottom: 67px;
    }
}